Esquemas/evtASO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtASO">
          <xs:annotation>
            <xs:documentation>Evento ASO</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideVinculo" type="TIdeVinculo">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="aso">
                <xs:annotation>
                  <xs:documentation>Detalhamento das informações do ASO</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dtAso">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data do ASO</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAso">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Atestado de Saúde Ocupacional emitido, conforme tabela abaixo:
                          1 - admissional;
                          2 - períodico, conforme planejamento do PCMSO;
                          3 - de retorno ao trabalho
                          4 - de mudança de função;
                          5 - de monitoração pontual, não enquadrado nos casos anteriores;
                          6 - Demissional.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="resultadoAso">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Resultado do ASO, conforme tabela abaixo:
                          1 - Apto;
                          2 - Apto com restrições;
                          3 - Inapto;
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="exame" type="TExame" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Registro que detalha os exames complementares porventura realizados pelo trabalhador e referentes ao ASO.   O não preenchimento siginifica a não realização de exames complementares.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="risco" type="TRiscos" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Detalhar, caso exista, a ocorrência de exposição a agentes nocivos que, por sua, natureza, concentração, intensidade e tempo de exposição, são capazes de causar danos à saúde do trabalhador.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="monitBiologica" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações da Monitoração Biológica, a qual deve ser efetuada para os trabalhadores cujas atividades envolvem os riscos discriminados nos Quadros I e II da NR-07.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="resultMonitoracao" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Resultado da Monitoração Biológica</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codAgenteQuimico">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do agente químico ao qual o trabalhador está exposto conforme tabela 21.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="matBiologico">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Material Biológico:
                                      1 - Urina;
                                      2 - Sangue;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codAnalise">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código da análise efetuada, conforme tabela 21</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="3"/>
                                      <xs:maxLength value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="expExcessiva">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Exposição Excessiva?
                                      S - Sim
                                      N - Não</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="S"/>
                                      <xs:enumeration value="N"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ordemExame">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Ordem do Exame:
                                      1 - Referencial; 
                                      2 - Sequencial.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indResultado">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicação dos Resultados:
                                      1 - Normal; 
                                      2 - Alterado; 
                                      3 - Estável; 
                                      4 - Agravamento; 
                                      5 - Ocupacional;
                                      6 - Não Ocupacional.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dtIniMonitoracao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Data de início da monitoração</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:date">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dtFimMonitoracao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Data final da monitoração</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:date">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="respMonitoracao">
                            <xs:annotation>
                              <xs:documentation>Registro onde são prestadas as informações sobre o profissional responsável pela monitoração biológica em atendimento aos requisitos das NR-07 e NR-09 do MTE.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nisResponsavel">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>NIS do responsável pela monitoração</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{11}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrCRM">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CRM do Médico</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:whiteSpace value="preserve"/>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="8"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ufCRM">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Unidade da federação do médico responsável pelo exame médico.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="medico" type="TMedico">
                      <xs:annotation>
                        <xs:documentation>Médico responsável</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeVinculo">
    <xs:annotation>
      <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpfTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CPF do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nisTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matricula">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TExame">
    <xs:annotation>
      <xs:documentation>Informações do exame</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dtExame">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data do exame realizado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descExame">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do exame realizado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRiscos">
    <xs:annotation>
      <xs:documentation>Detalhar, caso exista, a ocorrência de exposição a agentes nocivos que, por sua, natureza, concentração, intensidade e tempo de exposição, são capazes de causar danos à saúde do trabalhador.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codAgente">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Informar o código do agente, conforme tabela 7.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TMedico">
    <xs:sequence>
      <xs:element name="nomeMedico">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do médico encarregado do exame médico.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="foneContato" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do telefone de contato</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="crm" type="TCrm">
        <xs:annotation>
          <xs:documentation>CRM</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCrm">
    <xs:annotation>
      <xs:documentation>Informações da Inscrição no CRM</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrCRM">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CRM do Médico</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCRM">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Unidade da federação do médico responsável pelo exame médico.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
