Esquemas/evtAltContratual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAltContratual">
          <xs:annotation>
            <xs:documentation>Evento Alteração Contratual</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideVinculo" type="TIdeVinculo">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="altContratual">
                <xs:annotation>
                  <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dtAlteracao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data da Alteração</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoContrato" type="TDadosContrato">
                      <xs:annotation>
                        <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeVinculo">
    <xs:annotation>
      <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpfTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CPF do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nisTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matricula">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosContrato">
    <xs:annotation>
      <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpRegimeTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de regime trabalhista
            1 - CLT - Consolidação das Leis de Trabalho
            2 - RJU - Regime Jurídico Único
            3 - RJP - Regime Jurídico Próprio</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpRegimePrev">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de regime previdenciário conforme tabela abaixo:
            1 - RGPS - Regime Geral da Previdência Social
            2 - RPPS - Regime Próprio de Previdência Social
            3 - RPPE - Regime Próprio de Previdência Social no Exterior</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpRegimeJor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identifica o regime de jornada do empregado:
            1 - Submetidos a Horário de Trabalho (Cap. II da CLT);
            2 - Atividade Externa especificada no Inciso I do Art. 62 da CLT;
            3 - Funções específicadas no Inciso II do Art. 62 da CLT.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="natAtividade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Natureza da atividade, conforme tabela abaixo:
            1 - Trabalho Urbano
            2 - Trabalho Rural</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCateg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Categoria</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codFuncao" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Função</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCargo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Cargo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCBO">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dataBase" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Mês relativo à data base da categoria profissional do trabalhador.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="remuneracao" type="TRemun">
        <xs:annotation>
          <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duracao">
        <xs:annotation>
          <xs:documentation>Duração do Contrato de Trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpContrato">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de contrato de trabalho conforme tabela abaixo:
                  1 - Prazo indeterminado;
                  2 - Prazo determinado.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtTermino" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data do Término</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="trabTemporario" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dados sobre trabalho temporário. Preenchimento obrigatório na contratação de trabalhador temporário.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="motivoContratacao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Motivo da contratação de trabalhador temporário:
                  1 - Necessidade transitória de substituição de seu pessoal regular;
                  2 - Acréscimo extraordinário de serviços.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ideTomadorServ">
              <xs:annotation>
                <xs:documentation>Identifica a empresa contratante para a qual o trabalhador temporário será alocado.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpInscricao">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nrInscricao">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número de Inscrição</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ideTrabSubstituido" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Identificação do trabalhador substituído.  O preenchimento é obrigatório se o {motivoContratacao} for igual a [1].</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cpfTrabSubstituido">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Cpf do trabalhador substituído.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{11}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="matricTrabSubstituido">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Matrícula do trabalhador que está sendo substituído</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="localTrabalho" type="TLocalTrab">
        <xs:annotation>
          <xs:documentation>Informações do local de trabalho</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horContratual" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do Horário Contratual do Trabalhador.   O preenchimento é obrigatório se {tpRegimeJor} = [1].</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="qtdHoras">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Quantidade média de horas relativas à jornada semanal do trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="horario" type="THorario">
              <xs:annotation>
                <xs:documentation>Informações diárias do horário contratual</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoAtivDesemp" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Atividades desempenhadas pelo trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="descAtividade" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation>Descrição das Atividades Desempenhadas</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="descAtivDesemp">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Descrição da atividade desempenhada</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="preserve"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1500"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="filiacaoSindical" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Filiação Sindical do Trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjSindTrabalhador">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ do Sindicato</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="alvaraJudicial" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do alvará judicial, preenchimento obrigatório em caso de contratação de menores de 14 anos, em qualquer categoria, e de maiores de 14 e menores de 16, em categoria diferente de "Aprendiz".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nrProcJud">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemun">
    <xs:annotation>
      <xs:documentation>Remuneração e periodicidade de pagamento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Salário fixo do trabalhador, correspondente à parte fixa da remuneração.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="unidSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Unidade de pagamento da parte fixa da remuneração, conforme tabela abaixo:
            1 - Por Hora
            2 - Por Dia
            3 - Por Semana
            4 - Por Quinzena
            5 - Por Mês
            6 - Por Tarefa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descSalVariavel" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do salário variável e como este é calculado.  ex: Comissões pagas no percentual de 10% sobre as vendas.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TLocalTrab">
    <xs:annotation>
      <xs:documentation>Informações do Local de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codLotacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Lotação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descComplementar" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição complementar</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="THorario">
    <xs:annotation>
      <xs:documentation>Informações de Horário Contratual</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dia">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indica o dia do horário:
            1 - Segunda-Feira;
            2 - Terça-Feira;
            3 - Quarta-Feira;
            4 - Quinta-Feira;
            5 - Sexta-Feira;
            6 - Sábado;
            7 - Domingo;
            8 - Dia variável</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codHorContratual">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Horário Contratual</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
