Esquemas/evtFpServTomadosCoop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFpServTomadosCoop">
          <xs:annotation>
            <xs:documentation>Evento Serviços Tomados de Cooperativa de Trabalho</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveFopag">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoServTomados">
                <xs:annotation>
                  <xs:documentation>Serv. Tomados (prestados por Cooperativa de Trabalho)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ideEstabelecimento" maxOccurs="999">
                      <xs:annotation>
                        <xs:documentation>Identificação do estabelecimento "tomador" dos serviços prestados por cooperados por intermédio de cooperativa de trabalho.  
No caso de arquivo de Pessoa Jurídica, deve ser indicado o CNPJ do estabelecimento contratante.  Caso os serviços tenham sido prestados em obra própria de construção civil, o estabelecimento deve ser o CNPJ do estabelecimentol que efetivou a matrícula da obra e, no caso de pessoa física, o próprio CPF do contribuinte.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número de Inscrição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nfsTerceiros" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>Registro que detalha as notas fiscais emitidas por Cooperativas de Trabalho.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cnpjCooperativa">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CNPJ da Cooperativa</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="serie">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Série da Nota Fiscal/Fatura</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="5"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="numDocto">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número da Nota Fiscal/Fatura</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="10"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dtEmissaoNF">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Data de Emissão da Nota Fiscal/Fatura</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:date">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indObra">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de Prestação de Serviços em Obra de Construção Civil;
                                      0 - Não é obra de construção civil ou não está sujeita a matrícula;
                                      1 - Obra de Construção Civil - Empreitada Total;
                                      2 - Obra de Construção Civil - Empreitada Parcial;
                                      3 - Obra de Construção Civil - Subempreitada;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrCno" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CNO da Obra</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{12}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBruto">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor bruto</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrMatEquip">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Materiais/Equipamentos</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrServicos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Serviços</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrDeducoes">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor das deduções da base de cálculo.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de cálculo da contribuição incidente sobre o valor pago à cooperativa de trabalho</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="servCoopCondEspeciais" type="TServCoopCondEspeciais" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Caso tenha ocorrido, em relação aos serviços contidos na nota fiscal/fatura identificada no registro superior, a prestação de serviços por cooperados em condições especiais, cuja atividade permita concessão de aposentadoria especial, devem ser detalhados neste registro os respectivos valores dos serviços.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="servPrestAtivConcomitantes" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Registro preenchido exclusivamente por empresa optante pelo simples enquadrada na classificação tributária [03], quando a prestação de serviços por cooperados contratados por intermédio de cooperativa de trabalho ocorrer, de forma concomitante, em atividades substituídas e não substituídas.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vlrBaseCoop">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Base de cálculo da contribuição incidente sobre o valor pago à cooperativa de trabalho</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBaseCoop15">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15 anos de contribuição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBaseCoop20">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 20 anos de contribuição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBaseCoop25">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 25 anos de contribuição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="proprietarioCNO" type="TProprietarioCNO" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Identificação do proprietário do CNO em caso de serviços subempreitados.  Somente pode ser preenchido quando {indObra} for igual a [3].</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="totBaseCoop">
                            <xs:annotation>
                              <xs:documentation>Registro que totaliza, por estabelecimento, os valores pagos às Cooperativas de Trabalho, os quais estão relacionados em {nfsTerceiros} e sub-registros.   A totalização deve observar as seguintes situações:
* Para declarante isento/imune à contribuição (classificações tributárias [01, 04, 22, 70, 80]), as informações devem ser totalizados sempre no {indIncidencia} = [9];
* Se {classTrib} = [03], os valores destacados em {servPrestAtivConcomitantes}, se existentes, devem ser totalizados com {indIncidencia} = [2].   Se houver diferença entre os valores de base de cálculo indicados em {nfsTerceiros} e {servPrestCondEspeciais} e aqueles indicados nos registros {servPrestAtivConcomitantes}, a diferença deve ser totalizada no {indIncidencia} = [1];
* Nas demais situações, a totalização deve ser efetuada com {indIncidencia} = [1]. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indIncidencia">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Incidência:
                                      1 - Normal
                                      2 - Ativ. Concomitante
                                      9 - Substituída ou Isenta</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de cálculo da contribuição incidente sobre o valor pago à cooperativa de trabalho</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop15">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15 anos de contribuição</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop20">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 20 anos de contribuição</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop25">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 25 anos de contribuição</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveFopag">
    <xs:annotation>
      <xs:documentation>Identificação de Evento de Folha de Pagamentos</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de período de apuração:
            1 - Mensal;
            2 - Anual (Folha do 13o Salário).</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="perApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TServCoopCondEspeciais">
    <xs:annotation>
      <xs:documentation>Informações de serviços prestados por cooperados em condições especiais, sujeitos ao adicional de contribuição</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrServicos15">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (15 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos20">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (20 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos25">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (25 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TProprietarioCNO">
    <xs:annotation>
      <xs:documentation>Identificação do proprietário/responsável do CNO</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
