Esquemas/evtFpServTomados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFpServTomados">
          <xs:annotation>
            <xs:documentation>Evento Serv. Tomados (Cessão de Mão de Obra ou Empreitada)</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveFopag">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoServTomados">
                <xs:annotation>
                  <xs:documentation>Serv. Tomados (Cessão de Mão de Obra ou Empreitada)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ideEstabelecimento" maxOccurs="999">
                      <xs:annotation>
                        <xs:documentation>Identificação do estabelecimento "tomador" dos serviços prestados mediante cessão de mão de obra.  No caso de arquivo de Pessoa Jurídica, deve ser indicado o CNPJ do estabelecimento contratante.  Caso os serviços tenham sido prestados em obra própria de construção civil, o estabelecimento deve ser o CNPJ da filial que efetivou a matrícula da obra e, no caso de pessoa física, o próprio CPF do contribuinte.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número de Inscrição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="idePrestadorServicos" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>O registro apresenta a totalização dos serviços contratados de terceiros mediante cessão de mão de obra.   Deve existir um registro para cada prestador de serviços, e o detalhamento das informações é efetuado, por nota fiscal, nos registros vinculados.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cnpjPrestador">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CNPJ do Prestador de Serviços</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBruto">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor bruto</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseRetencao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de Cálculo da Retenção</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrRetencao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Retenção</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrAdicional">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor do Adicional de Retenção</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrNaoRetido">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da retenção não efetuada ou depositada em juízo em decorrência da decisão judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nfsTerceiros" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Detalhamento das notas fiscais de serviços prestados pela empresa identificada no registro superior.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="serie">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Série da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="5"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="numDocto">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="10"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtEmissaoNF">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Data de Emissão da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:date">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="indObra">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Indicativo de Prestação de Serviços em Obra de Construção Civil;
                                            0 - Não é obra de construção civil ou não está sujeita a matrícula;
                                            1 - Obra de Construção Civil - Empreitada Total;
                                            2 - Obra de Construção Civil - Empreitada Parcial;
                                            3 - Obra de Construção Civil - Subempreitada;</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrCno" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNO da Obra</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9]{12}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBruto">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor bruto</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBaseRetencao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Base de Cálculo da Retenção</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrRetencaoApurada">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da retenção calculada.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrRetencaoSubEmpreitada">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor já retido em relação aos serviços subempreitados.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrRetencao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da Retenção</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrAdicional">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor do Adicional de Retenção</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="itensNfs" maxOccurs="99">
                                        <xs:annotation>
                                          <xs:documentation>Detalhamento dos serviços contidos na nota fiscal</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="nrItem">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Número do item</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:positiveInteger">
                                                  <xs:totalDigits value="3"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="tpServico">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Tipo de Serviço, conforme tabela 6.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:byte">
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBruto">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor bruto</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseRetencao">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Retenção</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="servPrestCondEspeciais" type="TServPrestCondEspeciais" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Registro preenchido caso os serviços relativos a nota fiscal identificada no registro superior tenham sido prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15, 20, ou 25 anos de contribuição.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="infoProcJudicial" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Registro preenchido exclusivamente pelo tomador de serviços quando a empresa prestadora de serviços possui decisão/sentença judicial determinando a suspensão da retenção ou o depósito judicial das contribuições previdenciárias incidentes sobre o valor dos serviços contidos na nota fiscal/fatura emitidas pelo PRESTADOR DE SERVIÇOS.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="nrProcJud">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="20"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrNaoRetido">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor da retenção não efetuada ou depositada em juízo em decorrência da decisão judicial</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="proprietarioCNO" type="TProprietarioCNO" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do proprietário do CNO em caso de serviços subempreitados.  Somente pode ser preenchido quando {indObra} for igual a [3].</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveFopag">
    <xs:annotation>
      <xs:documentation>Identificação de Evento de Folha de Pagamentos</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de período de apuração:
            1 - Mensal;
            2 - Anual (Folha do 13o Salário).</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="perApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TServPrestCondEspeciais">
    <xs:annotation>
      <xs:documentation>Informações de serviços prestados em condições especiais, sujeitos ao Adicional de Retenção</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrServicos15">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (15 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos20">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (20 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos25">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (25 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TProprietarioCNO">
    <xs:annotation>
      <xs:documentation>Identificação do proprietário/responsável do CNO</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
