Esquemas/evtInfoEmpregador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtInfoEmpregador">
          <xs:annotation>
            <xs:documentation>Evento de informações do empregador</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeCadastro">
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
              </xs:element>
              <xs:element name="infoEmpregador">
                <xs:annotation>
                  <xs:documentation>Identificação da operação (inclusão, alteração ou exclusão) e das respectivas informações do empregador.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações incluídas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="infoCadastro" type="TInfoEmpregador">
                              <xs:annotation>
                                <xs:documentation>Informações do empregador</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Alteração das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações alteradas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="infoCadastro" type="TInfoEmpregador">
                              <xs:annotation>
                                <xs:documentation>Informações do empregador</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPeriodoValidade" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Exclusão das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Informação destinada a localizar corretamente as informações já existentes e que serão objeto de exclusão através deste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeCadastro">
    <xs:annotation>
      <xs:documentation>Identificação de evento de cadastro/tabelas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdePeriodo">
    <xs:annotation>
      <xs:documentation>Identificação do Período de Validade das Informações</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TInfoEmpregador">
    <xs:annotation>
      <xs:documentation>Informações do Empregador</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nomeRazao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome/Razão Social</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="classTrib">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Informar enquadramento do contribuinte, conforme tabela 8.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="natJuridica" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Natureza Jurídica</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cnaePreponderante">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do CNAE</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indCooperativa">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Cooperativa:
            0 - Não é cooperativa;
            1 - Cooperativa de Trabalho;
            2 - Cooperativa de Produção;
            3 - Outras Cooperativas.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indConstrutora">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Construtora:
            0 - Não é Construtora;
            1 - Empresa Construtora;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indDesFolha">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Desoneração da Folha:
            0 - Não Aplicável;
            1 - Empresa enquadrada  no Art. 14 da  Lei 11.774/2008;
            2 - Empresa enquadrada nos art. 7º a 9º da Lei 12.546/2011, exceto aquelas enquadradas no Art. 14 da Lei 11.774/2008;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indOptRegEletronico">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indica se houve opção pelo registro eletrônico de empregados:
            0 - Não optou pelo registro eletrônico de empregados;
            1 - Optou pelo registro eletrônico de empregados.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="aliqGilrat" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações para apuração da Alíquota RAT</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="aliqRat">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Alíquota da contribuição adicional pelo grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, antes do ajuste pelo FAP.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:nonNegativeInteger">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="fap">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Fator Acidentário de Prevenção</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="5"/>
                  <xs:fractionDigits value="4"/>
                  <xs:minInclusive value="0.0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="aliqRatAjustada">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Alíquota após ajuste pelo FAP</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="5"/>
                  <xs:fractionDigits value="4"/>
                  <xs:minInclusive value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="procAdmJudRat" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Registro que identifica, em caso de existência, o processo administrativo ou judicial em que houve decisão/sentença favorável ao contribuinte modificando a alíquota RAT da empresa.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpProcesso">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de Processo:
                        1 - Administrativo
                        2 - Judicial</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nrProcesso">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número do Processo</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="procAdmJudFap" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Registro que identifica, em caso de existência, o processo administrativo/judicial em que houve decisão ou sentença favorável ao contribuinte suspendendo ou alterando a alíquota FAP aplicável ao contribuinte.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpProcesso">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de Processo:
                        1 - Administrativo
                        2 - Judicial</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nrProcesso">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número do Processo</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dadosIsencao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações Complementares - Empresas Isentas - Dados da Isenção</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="siglaMin">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Identificação do Ministério/Lei que concedeu o Certificado:
                  CNAS - Conselho Nacional de Assistência Social
                  MEC - Ministério da Educação
                  MS - Ministério da Saúde
                  MDS - Ministério do Desenvolvimento Social e Combate à Fome
                  LEI - Lei Específica</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrCertificado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do CEBAS, número da portaria de concessão do Certificado ou número da Lei.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="40"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtEmissaoCertificado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Emissão do Certificado/publicação da Lei</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtVenctoCertificado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Vencimento do Certificado</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProtRenovacao" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do protocolo de pedido de renovação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtProtRenovacao" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data do protocolo de renovação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtDou" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Publicação no DOU</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="pagDou" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número da página do DOU</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                  <xs:totalDigits value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contato">
        <xs:annotation>
          <xs:documentation>Informações de contato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nomeContato">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome do contato na empresa</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="cpfContato">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{11}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="foneFixo" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do telefone com DDD</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="foneCelular" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Telefone celular</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="fax" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do Fax, com DDD</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="email" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Endereço eletrônico</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoOrgInternacional" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações exclusivas de organismos internacionais e outras instituições extraterritoriais</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="indAcordoIsencaoMulta">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Indicativo da existência de acordo internacional para isenção de multa:
                  0 - Sem acordo;
                  1 - Com acordo;</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="softwareHouse" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Informações da empresa de Software</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjSoftwareHouse">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ da Software House</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nomeRazao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome/Razão Social</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="80"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nomeContato">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome do contato na empresa</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="telefone">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do telefone com DDD</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="codMunicipio">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código do Município</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="uf" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Sigla da UF</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="email" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Endereço eletrônico</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoComplementares" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações complementares sobre o declarante</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="indSocioOstensivo">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>O declarante é sócio ostensivo em sociedade em conta de participação?
                  S - Sim;
                  N - Não.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="indSituacaoEspecial">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Indicativo de Situação Especial:
                  0 - Situação Normal;
                  1 - Extinção;
                  2 - Fusão;
                  3 - Cisão;
                  4 - Incorporação.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPeriodoValidade">
    <xs:sequence>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
