Esquemas/evtTSVTermino.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTSVTermino">
          <xs:annotation>
            <xs:documentation>Evento Trabalhador Sem Vínculo de Emprego - Término</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoTSVTermino">
                <xs:annotation>
                  <xs:documentation>Trabalhador Sem Vínculo de Emprego - Término</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="cpfTrab">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>CPF do trabalhador</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{11}"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="nisTrab">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{11}"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="trabalhadorAvulso" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Informações do Trabalhador Avulso</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dtTermino" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Término</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="contribIndividual" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Informações do Contribuinte Individual (diretor não empregado ou cooperado).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="codCateg">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código da Categoria</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="dtTermino">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Término</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="motDesligDirNaoEmpregado" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Motivo do desligamento do Diretor Não Empregado, conforme tabela:
                                  01 - Exoneração do Diretor Não Empregado sem justa causa, por deliberação da assembléia, dos sócios cotistas ou da autoridade competente;
                                  02 - Término de Mandato do Diretor Não Empregado que não tenha sido reconduzido ao cargo;
                                  03 - Exoneração a pedido de Diretor Não Empregado
                                  04 - Exoneração do Diretor Não Empregado por culpa recíproca ou força maior
                                  05 - Morte do Diretor Não Empregado
                                  06 - Exoneração do Diretor Não Empregado por falência, encerramento ou supressão de parte da empresa</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="verbasRescisorias" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Registro onde são prestadas as informações relativas às verbas rescisórias do trabalhador, preenchido exclusivamente no caso de Diretor Não Empregado com direito ao FGTS (categoria [721]);</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="bcCP">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Base de Cálculo da Contribuição Previdenciária</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="bcIRRF">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Base de Cálculo do Imposto de Renda Retido na Fonte</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="bcFGTS">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Base de Cálculo do FGTS</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="bcFgtsMesAnt" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Base de Cálculo do FGTS do mês anterior</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="descCP">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor descontado do segurado.
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrProventos">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor dos Proventos</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrDescontos">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor dos Descontos</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrLiquido">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor Líquido</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="itensRemuneracao" maxOccurs="50">
                                    <xs:annotation>
                                      <xs:documentation>Registro que relaciona as rubricas que compõe a remuneração do trabalhador.  </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="codRubrica">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Código da Rubrica</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="30"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="qtdRubrica" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="6"/>
                                              <xs:fractionDigits value="2"/>
                                              <xs:minInclusive value="0"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrUnitario" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor Unitário </xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrRubrica">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor total da rubrica</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="servPubIndConselho" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Servidor Público indicado para Conselho ou Órgão Representativo;</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dtTermino" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Término</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="dirigenteSindical" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Dirigente Sindical</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dtTermino" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Término</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="estagiario" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>informações do estagiário</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dtTermino" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Término</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
