Esquemas/evtTabRubrica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTabRubrica">
          <xs:annotation>
            <xs:documentation>Evento destinada a incluir, alterar ou excluir informações da tabela de rubricas</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeCadastro">
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
              </xs:element>
              <xs:element name="infoRubrica">
                <xs:annotation>
                  <xs:documentation>Identificação da operação (inclusão, alteração ou exclusão) e das informações da rubrica.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideRubrica" type="TIdeRubrica">
                              <xs:annotation>
                                <xs:documentation>Informações de identificação da rubrica e validade das informações que estão sendo incluídas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosRubrica" type="TDadosRubrica">
                              <xs:annotation>
                                <xs:documentation>Detalhamento das informações da rubrica que está sendo incluída</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Alteração de informações já existentes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideRubrica" type="TIdeRubrica">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações de identificação da rubrica, apresentando código e período de validade da rubrica cujas informações serão alteradas pelos dados constantes neste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosRubrica" type="TDadosRubrica">
                              <xs:annotation>
                                <xs:documentation>Informações da rubrica</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPeriodoValidade" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações da rubrica identificada em {ideRubrica}, apresentando o novo período de validade.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Exclusão de informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideRubrica" type="TIdeRubrica">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações que identifica a rubrica que será excluída.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeCadastro">
    <xs:annotation>
      <xs:documentation>Identificação de evento de cadastro/tabelas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeRubrica">
    <xs:annotation>
      <xs:documentation>Informações de identificação da rubrica (código) e período de validade</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codRubrica">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Rubrica</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosRubrica">
    <xs:annotation>
      <xs:documentation>Detalhamento da rubrica</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="descRubrica">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição (nome) da rubrica no sistema de folha de pagamento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="natRubrica">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Classificação da Rubrica.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indProvDesc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo do tipo de rubrica:
            P - Provento
            D - Desconto
            I - Informativa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codIncidCP">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de incidência tributária da rubrica para a Previdência Social:
            00 - Não é Base de Cálculo;
            11 - Base de Cálculo do Salário de Contribuição Mensal
            12 - Base de Cálculo da Contrib. Prev. sobre 13o Salário
            21 - Base de Cálculo da Contrib. Prev. Sal. Maternidade
            22 - Base de Cálculo da Contrib. Prev. Sal. Maternidade - 13o Salário
            31 - Contribuição Descontada do Segurado
            32 - Contribuição Descontada do Segurado - 13o Salário
            33 - Contribuição Descontada do Segurado - SEST
            34 - Contribuição Descontada do Segurado - SENAT
            51 - Salário-Família
            91 - Incid. suspensa em decorrência de decisão judicial (BC SC Mensal)
            92 - Incid. suspensa em decorrência de decisão judicial (BC 13o Salário)
            93 - Incid. suspensa em decorrência de decisão judicial (BC Sal. Maternidade)
            94 - Incid. suspensa em decorrência de decisão judicial (BC Sal. Maternidade 13o Salário)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codIncidIRRF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de incidência tributária da rubrica para o IRRF:
            00 - Não é Base de Cálculo
            11 - Base de Cálculo do IRRF
            12 - Base de Cálculo do IRRF - 13o Salário
            13 - Base de Cálculo do IRRF - Férias
            14 - Base de Cálculo do IRRF - PLR
            31 - Valor do IRRF
            32 - Valor do IRRF - 13o Salário
            33 - Valor do IRRF - Férias
            34 - Valor do IRRF - PLR
            91 - Incidência suspensa em decorrência de decisão judicial (BC IRRF)
            92 - Incidência suspensa em decorrência de decisão judicial (BC IRRF 13o Salário)
            93 - Incidência suspensa em decorrência de decisão judicial (BC IRRF Férias)
            94 - Incidência suspensa em decorrência de decisão judicial (BC IRRF PLR)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codIncidFGTS">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de incidência tributária da rubrica para o FGTS:
            00 - Não é Base de Cálculo do FGTS;
            11 - Base de Cálculo do FGTS;
            91 - Incidência suspensa em decorrência de decisão judicial</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codIncidSIND">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de incidência tributária da rubrica para a Contribuição Sindical Laboral:
            00 - Não é base de cálculo;
            11 - Base de cálculo;
            31 - Valor da contribuição sindical laboral descontada;
            91 - Incidência suspensa em decorrência de decisão judicial</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="repDSR">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de repercussão no DSR: "S" ou "N"</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="repDecTerceiro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de repercussão no 13º Salário: "S" ou "N"</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="repFerias">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de repercussão nas Férias: "S" ou "N"</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="repRescisao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de repercussão na Rescisão: "S" ou "N"</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fatorRubrica" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Fator utilizado na apuração da rubrica.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ideProcessoCP" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Caso a empresa possua processo judicial com decisão/sentença favorável, determinando a não incidência de contribuição previdenciária relativa a rubrica identificada no evento, as informações deverão ser incluídas neste registro, e o detalhamento do processo deverá ser efetuado através de evento específico na tabela de processos.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Processo:
                  1 - Administrativo
                  2 - Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do Processo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="extDecisao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Extensão da Decisão/Sentença:
                  1 - Contrib. Patronais
                  2 - Contrib. Patronais + Segurados</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ideProcessoIRRF" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Caso a empresa possua processo judicial com decisão/sentença favorável, determinando a não incidência de imposto de renda relativo a rubrica identificada no evento, as informações deverão ser incluídas neste registro, e o detalhamento do processo deverá ser efetuado através de evento específico na tabela de processos.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Processo:
                  1 - Administrativo
                  2 - Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do Processo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ideProcessoFGTS" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Caso a empresa possua processo judicial com decisão/sentença favorável, determinando a não incidência de FGTS relativo a rubrica identificada no evento, as informações deverão ser incluídas neste registro, e o detalhamento do processo deverá ser efetuado através de evento específico na tabela de processos.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Processo:
                  1 - Administrativo
                  2 - Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do Processo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ideProcessoSIND" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Caso a empresa possua processo judicial com decisão/sentença favorável, determinando a não incidência de contribuição sindical relativa a rubrica identificada no evento, as informações deverão ser incluídas neste registro, e o detalhamento do processo deverá ser efetuado através de evento específico na tabela de processos.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Processo:
                  1 - Administrativo
                  2 - Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProcesso">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do Processo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPeriodoValidade">
    <xs:sequence>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
