Esquemas/evtTabLotacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTabLotacao">
          <xs:annotation>
            <xs:documentation>Definição do Evento de tabela de lotações.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeCadastro">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoLotacao">
                <xs:annotation>
                  <xs:documentation>Identificação da operação (inclusão, alteração ou exclusão) e das informações da lotação.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideLotacao" type="TIdeLotacao">
                              <xs:annotation>
                                <xs:documentation>Informações de identificação da lotação e validade das informações que estão sendo incluídas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosLotacao" type="TDadosLotacao">
                              <xs:annotation>
                                <xs:documentation>Detalhamento das informações da lotação que está sendo incluída</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Alteração de informações já existentes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideLotacao" type="TIdeLotacao">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações de identificação da lotação, apresentando código e período de validade da lotação cujas informações serão alteradas pelos dados constantes neste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosLotacao" type="TDadosLotacao">
                              <xs:annotation>
                                <xs:documentation>Informações da lotação</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPeriodoValidade" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações da lotação identificada em {ideLotacao}, apresentando o novo período de validade.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Exclusão de informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideLotacao" type="TIdeLotacao">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações que identifica a lotação que será excluída.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeCadastro">
    <xs:annotation>
      <xs:documentation>Identificação de evento de cadastro/tabelas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeLotacao">
    <xs:annotation>
      <xs:documentation>Informações de identificação da lotação (código) e período de validade</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codLotacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Lotação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosLotacao">
    <xs:annotation>
      <xs:documentation>Detalhamento das informações da lotação.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="descLotacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição da Lotação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpLotacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Lotação, conforme tabela.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpInscEstab" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição do Estabelecimento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscEstab" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do estabelecimento ao qual pertence a lotação.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="endereco" type="TEnderecoBrasil" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informação complementar contendo os dados do endereço da lotação.   Não precisa ser preenchido para lotações localizadas em estabelecimento da própria empresa (matriz ou filial), nem para embarcações e lotações fora do país, ou seja, quando {tpLotacao} for igual a [01, 07, 10, 11, 90].</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fpasLotacao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Registro preenchido exclusivamente para lotação com tipo de lotação igual a [09] (Operador Portuário),  [11] (lotação com FPAS diferente do FPAS principal do estabelecimento) e [90] (lotação no exterior), ou seja, quando a lotação possui um FPAS/Terceiros diferentes do código atribuído ao estabelecimento (indicado na tabela de estabelecimentos/obras)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fpas">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código do FPAS.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="codTerceiros">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código de convênios com terceiros, conforme tabela 4.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoEmprParcial" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informação complementar que apresenta identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada.   A informação é preenchida exclusivamente para lotações cujo {tpLotacao} seja igual a [3].</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpInscContratante">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Inscrição do contratante</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrInscContratante">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número de Inscrição do Contratante</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="tpInscProprietario">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Inscrição do proprietário do CNO</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrInscProprietario">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número de Inscrição do proprietário do CNO</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoBrasil">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Brasil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpLogradouro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descLogradouro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLogradouro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Endereçamento Postal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codMunicipio">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Município</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="uf">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Sigla da UF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPeriodoValidade">
    <xs:sequence>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
