trunk/Esquemas/evtAdmissao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAdmissao">
          <xs:annotation>
            <xs:documentation>Evento Admissão</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="trabalhador" type="TDadosTrabalhador">
                <xs:annotation>
                  <xs:documentation>Grupo de Informações do Trabalhador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="vinculo">
                <xs:annotation>
                  <xs:documentation>Grupo de informações do vínculo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="matricula">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:whiteSpace value="preserve"/>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtAdmissao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data de admissão do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAdmissao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de admissão do trabalhador, conforme tabela abaixo:
                          1 - Admissão;
                          2 - Transferência de empresa do mesmo grupo econômico;
                          3 - Admissão por sucessão, incorporação, cisão ou fusão.
                          4 - Trabalhador Cedido</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indAdmissao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de Admissão:
                          1 - Normal;
                          2 - Decorrente de Ação Fiscal;
                          3 - Decorrente de Decisão Judicial.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indPrimeiroEmprego">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Primeiro Emprego:
                          S - Sim;
                          N - Não.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoContrato" type="TDadosContrato">
                      <xs:annotation>
                        <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FGTS" type="TFgts">
                      <xs:annotation>
                        <xs:documentation>Informações do Fundo de Garantia por Tempo de Serviço</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="sucessaoVinc" type="TSucVinculo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações da sucessão de vínculo trabalhista</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cessaoTrab" type="TCessaoTrab" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Grupo de informações de cessão de trabalhador</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosTrabalhador">
    <xs:annotation>
      <xs:documentation>Informações Pessoais do Trabalhador</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpfTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CPF do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nisTrab" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nomeTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do Trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sexo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Sexo do Trabalhador:
            M - Masculino
            F - Feminino</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="racaCor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Raça e cor do trabalhador, conforme tabela abaixo:
            1 - Indígena
            2 - Branca
            4 - Negra
            6 - Amarela (de origem japonesa, chinesa, coreana etc)
            8 - Parda (parda ou declarada como mulata, cabocla, cafuza, mameluca ou mestiça de negro com pessoa de outra cor ou raça)
            9 - Não informado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="estadoCivil">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Estado civil do trabalhador, conforme tabela abaixo:
            1 - Solteiro
            2 - Casado
            3 - Separado
            4 - Divorciado
            5 - Viúvo
            6 - União Estável</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="grauInstrucao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Grau de instrução do trabalhador, conforme tabela:
            01 - Analfabeto, inclusive o que, embora tenha recebido instrução, não se alfabetizou;
            02 - Até o 5º ano incompleto do Ensino Fundamental (antiga 4ª série) ou que se tenha alfabetizado sem ter frequentado escola regular;
            03 - 5º ano completo do Ensino Fundamental;
            04 - Do 6º ao 9º ano do Ensino Fundamental incompleto (antiga 5ª a 8ª série)
            05 - Ensino Fundamental Completo;
            06 - Ensino Médio incompleto;
            07 - Ensino Médio completo;
            08 - Educação Superior incompleta;
            09 - Educação Superior completa;
            10 - Pós-Graduação;
            11 - Mestrado completo;
            12 - Doutorado completo;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nascimento">
        <xs:annotation>
          <xs:documentation>Grupo de informações do nascimento do trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dtNascto">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Nascimento</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="codMunicipio">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código do Município</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="uf" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Sigla da UF</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="paisNascto">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código do País de Nascimento</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="paisNacionalidade">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Código do país de nacionalidade do trabalhador.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nomeMae" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome da mãe do trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nomePai" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome do Pai do Trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="documentos" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações dos documentos pessoais do trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CTPS" type="TCtps" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações da Carteira de Trabalho e Previdência Social</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RIC" type="TRic" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações do Registro de Identificação Civil</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RG" type="TRg" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações do Registro Geral (RG)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RNE" type="TRne" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações do Registro Nacional de Estrangeiro</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OC" type="TOc" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações do número de registro em Órgão de Classe (OC)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CNH" type="TCnh" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações da Carteira Nacional de Habilitação (CNH)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endereco">
        <xs:annotation>
          <xs:documentation>Grupo de informações do endereço do Trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="brasil" type="TEnderecoBrasil" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Preenchimento obrigatório para trabalhador residente no Brasil.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="exterior" type="TEnderecoExterior" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Preenchido em caso de trabalhador residente no exterior.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="trabEstrangeiro" type="TTrabEstrang" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Grupo de informações do Trabalhador Estrangeiro</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infoDeficiencia" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="defFisica">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Deficiência Física:
                  S - Sim;
                  N - Não.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="defVisual">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Deficiência visual:
                  S - Sim;
                  N - Não;</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="defAuditiva">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Deficiência auditiva:
                  S - Sim;
                  N - Não;</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="defMental">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Deficiência Mental:
                  S - Sim;
                  N - Não;</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="defIntelectual">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Deficiência Intelectual:
                  S - Sim;
                  N - Não.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="reabilitado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Informar se o trabalhador é reabilitado, ou seja, estando o trabalhador aposentado por invalidez e, após passar por avaliação profissional ou por processo de reabilitação funcional, foi considerado apto a retornar ao trabalho:
                  S - Sim;
                  N - Não.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="observacao" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Observação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dependente" type="TDependente" minOccurs="0" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>Informações dos dependentes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="aposentadoria">
        <xs:annotation>
          <xs:documentation>Informação de aposentadoria do trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="trabAposentado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Informar se o trabalhador já recebe o benefício previdenciário da aposentadoria por tempo de contribuição ou por idade.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contato" type="TContato" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações de Contato</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCtps">
    <xs:annotation>
      <xs:documentation>Carteira de Trabalho e Previdência Social</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número da carteira de trabalho e Previdência Social do trabalhador - CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serieCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de série da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ufCtps">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>UF da expedição da CTPS.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRic">
    <xs:annotation>
      <xs:documentation>Registro de Identificação Civil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRic">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do RIC</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão emissor do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExpedicao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRg">
    <xs:annotation>
      <xs:documentation>Registro Geral</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do RG</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão emissor do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExpedicao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRne">
    <xs:annotation>
      <xs:documentation>Registro Nacional de Estrangeiros</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrRne">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número RNE</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão emissor do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExpedicao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TOc">
    <xs:annotation>
      <xs:documentation>Órgão de Classe</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrOc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição no Órgão de Classe</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão emissor do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExpedicao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCnh">
    <xs:annotation>
      <xs:documentation>Cartera Nacional de Habilitação</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nrCnh">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número da CNH</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="orgaoEmissor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Órgão emissor do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtExpedicao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da expedição do documento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de validade do documento.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoBrasil">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Brasil</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpLogradouro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descLogradouro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLogradouro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Endereçamento Postal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codMunicipio">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Município</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="uf">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Sigla da UF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEnderecoExterior">
    <xs:annotation>
      <xs:documentation>Informações do Endereço no Exterior</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paisResidencia">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do País</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descLogradouro">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do logradouro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrLogradouro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="complemento" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Complemento do logradouro.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bairro" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do bairro/distrito.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nomeCidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome da Cidade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codPostal" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Endereçamento Postal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TTrabEstrang">
    <xs:annotation>
      <xs:documentation>Informações do Trabalhador Estrangeiro</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dtChegada">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de chegada do trabalhador ao Brasil, em caso de estrangeiro</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtNaturalizacao" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de naturalização brasileira em caso de estrangeiro naturalizado</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="casadoBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Condição de casado com brasileiro(s) em caso de trabalhador estrangeiro, conforme tabela abaixo:
            S - Sim;
            N - Não.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="filhosBr">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicar se o trabalhador estrangeiro tem filhos brasileiros, conforme tabela abaixo:
            S - Sim;
            N - Não.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDependente">
    <xs:sequence>
      <xs:element name="tpDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de dependente conforme tabela abaixo:
            01 - Cônjuge ou companheiro(a) com o(a) qual tenha filho ou viva há mais de 5 (cinco) anos.
            02 - Filho(a) ou enteado(a) até 21 (vinte e um) anos.
            03 - Filho(a) ou enteado(a) universitário(a) ou cursando escola técnica de 2º grau, até 24 (vinte e quatro) anos.
            04 - Filho(a) ou enteado(a) em qualquer idade, quando incapacitado física e/ou mentalmente para o trabalho.
            05 - Irmão(ã), neto(a) ou bisneto(a) sem arrimo dos pais, do(a) qual detenha a guarda judicial, até 21 (vinte e um) anos.
            06 - Irmão(ã), neto(a) ou bisneto(a) sem arrimo dos pais, com idade até 24 anos, se ainda estiver cursando estabelecimento de nível superior ou escola técnica de 2º grau, desde que tenha detido sua guarda judicial até os 21 anos.
            07 - Irmão(ã), neto(a) ou bisneto(a) sem arrimo dos pais, do(a) qual detenha a guarda judicial, em qualquer idade, quando incapacitado física e/ou mentalmente para o trabalho.
            08 - Pais, avós e bisavós.
            09 - Menor pobre, até 21 (vinte e um) anos, que crie e eduque e do qual detenha a guarda judicial.
            10 - A pessoa absolutamente incapaz, da qual seja tutor ou curador.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nomeDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome do Dependente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtNascto">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Nascimento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cpfDep">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição no CPF</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depIRRF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente para fins de IRRF:
            S - Sim
            N - Não</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="depSF">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Dependente para fins de Salário-Família
            S - Sim
            N - Não</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TContato">
    <xs:annotation>
      <xs:documentation>Informações de Contato</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fonePrincipal" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="foneAlternativo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de telefone do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailPrincipal" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="emailAlternativo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Endereço eletrônico</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosContrato">
    <xs:annotation>
      <xs:documentation>Informações do Contrato de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpRegimeTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de regime trabalhista
            1 - CLT - Consolidação das Leis de Trabalho
            2 - RJU - Regime Jurídico Único
            3 - RJP - Regime Jurídico Próprio</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpRegimePrev">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de regime previdenciário conforme tabela abaixo:
            1 - RGPS - Regime Geral da Previdência Social
            2 - RPPS - Regime Próprio de Previdência Social
            3 - RPPE - Regime Próprio de Previdência Social no Exterior</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpRegimeJor">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identifica o regime de jornada do empregado:
            1 - Submetidos a Horário de Trabalho (Cap. II da CLT);
            2 - Atividade Externa especificada no Inciso I do Art. 62 da CLT;
            3 - Funções específicadas no Inciso II do Art. 62 da CLT.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="natAtividade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Natureza da atividade, conforme tabela abaixo:
            1 - Trabalho Urbano
            2 - Trabalho Rural</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCateg">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Categoria</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codFuncao" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Função</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCargo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Cargo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codCBO">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dataBase" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Mês relativo à data base da categoria profissional do trabalhador.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="remuneracao" type="TRemun">
        <xs:annotation>
          <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duracao">
        <xs:annotation>
          <xs:documentation>Duração do Contrato de Trabalho</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpContrato">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de contrato de trabalho conforme tabela abaixo:
                  1 - Prazo indeterminado;
                  2 - Prazo determinado.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtTermino" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data do Término</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="trabTemporario" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dados sobre trabalho temporário. Preenchimento obrigatório na contratação de trabalhador temporário.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="motivoContratacao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Motivo da contratação de trabalhador temporário:
                  1 - Necessidade transitória de substituição de seu pessoal regular;
                  2 - Acréscimo extraordinário de serviços.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ideTomadorServ">
              <xs:annotation>
                <xs:documentation>Identifica a empresa contratante para a qual o trabalhador temporário será alocado.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpInscricao">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nrInscricao">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número de Inscrição</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ideTrabSubstituido" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Identificação do trabalhador substituído.  O preenchimento é obrigatório se o {motivoContratacao} for igual a [1].</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cpfTrabSubstituido">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Cpf do trabalhador substituído.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{11}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="matricTrabSubstituido">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Matrícula do trabalhador que está sendo substituído</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="localTrabalho" type="TLocalTrab">
        <xs:annotation>
          <xs:documentation>Informações do local de trabalho</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horContratual" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do Horário Contratual do Trabalhador.   O preenchimento é obrigatório se {tpRegimeJor} = [1].</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="qtdHoras">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Quantidade média de horas relativas à jornada semanal do trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="horario" type="THorario">
              <xs:annotation>
                <xs:documentation>Informações diárias do horário contratual</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoAtivDesemp" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Atividades desempenhadas pelo trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="descAtividade" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation>Descrição das Atividades Desempenhadas</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="descAtivDesemp">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Descrição da atividade desempenhada</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="preserve"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1500"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="filiacaoSindical" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Filiação Sindical do Trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjSindTrabalhador">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ do Sindicato</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="alvaraJudicial" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações do alvará judicial, preenchimento obrigatório em caso de contratação de menores de 14 anos, em qualquer categoria, e de maiores de 14 e menores de 16, em categoria diferente de "Aprendiz".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nrProcJud">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemun">
    <xs:annotation>
      <xs:documentation>Remuneração e periodicidade de pagamento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Salário fixo do trabalhador, correspondente à parte fixa da remuneração.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="unidSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Unidade de pagamento da parte fixa da remuneração, conforme tabela abaixo:
            1 - Por Hora
            2 - Por Dia
            3 - Por Semana
            4 - Por Quinzena
            5 - Por Mês
            6 - Por Tarefa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descSalVariavel" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do salário variável e como este é calculado.  ex: Comissões pagas no percentual de 10% sobre as vendas.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TLocalTrab">
    <xs:annotation>
      <xs:documentation>Informações do Local de Trabalho</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codLotacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Lotação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descComplementar" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição complementar</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="THorario">
    <xs:annotation>
      <xs:documentation>Informações de Horário Contratual</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dia">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indica o dia do horário:
            1 - Segunda-Feira;
            2 - Terça-Feira;
            3 - Quarta-Feira;
            4 - Quinta-Feira;
            5 - Sexta-Feira;
            6 - Sábado;
            7 - Domingo;
            8 - Dia variável</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codHorContratual">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Horário Contratual</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TFgts">
    <xs:annotation>
      <xs:documentation>Informações do FGTS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optanteFGTS">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Opção pelo FGTS:
            1 - Optante;
            2 - Não Optante</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtOpcaoFGTS">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Opção pelo FGTS</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSucVinculo">
    <xs:annotation>
      <xs:documentation>Informações da sucessão de vínculo trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cnpjEmpregadorAnterior">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CNPJ do empregador anterior</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{14}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matriculaAnterior">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matrícula do trabalhador no empregador anterior.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtInicioVinculo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de Início do Vínculo</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="observacao" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Observação</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCessaoTrab">
    <xs:annotation>
      <xs:documentation>Informações de cessão de trabalhador</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cnpjCedente">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CNPJ do Cedente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{14}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matriculaCedente">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matrícula do Trabalhador na Empresa Cedente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtAdmissaoCedente">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data de admissão na Empresa Cedente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="infoOnus">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Ônus da Cessão:
            1 - Ônus do Cedente;
            2 - Ônus do Cessionário;
            3 - Ônus do Cedente e Cessionário;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
