trunk/Esquemas/evtAfastTemp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtAfastTemp">
          <xs:annotation>
            <xs:documentation>Evento Afastamento Temporário</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideVinculo" type="TIdeVinculo">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoAfastamento">
                <xs:annotation>
                  <xs:documentation>Informações do Afastamento Temporário</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dtAfastamento">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data do Afastamento</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="codMotAfastamento">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código do motivo de afastamento temporário, conforme tabela 18</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAcidenteTransito" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Acidente de Trânsito:
                          1 - Atropelamento
                          2 - Colisão
                          3 - Outros</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="observacao" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Observação</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="80"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoAtestado" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações complementares do evento de Afastamento Temporário, relativas ao atestado médico, obrigatórias apenas no caso de afastamento por motivo de doença (motivo igual a [03, 04, 06, 08]).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="codCID" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código na Tabela CID</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:whiteSpace value="preserve"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="qtdDiasAfastamento">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Quantidade de dias de afastamento concedidos pelo médico</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:positiveInteger">
                                <xs:totalDigits value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="emitente">
                            <xs:annotation>
                              <xs:documentation>Médico/Dentista que emitiu o atestado</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nomeEmitente">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nome do médico/dentista que emitiu o atestado</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrOc">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de Inscrição no Órgão de Classe</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:whiteSpace value="preserve"/>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="14"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ufOC">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Sigla da UF do órgão de classe</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoCessao" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente por órgãos da Administração Pública, nos casos de afastamento por cessão do trabalhador.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjCessionario">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ do Cessionário</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoOnus">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Ônus da Cessão:
                                1 - Ônus do Cedente;
                                2 - Ônus do Cessionário;
                                3 - Ônus do Cedente e Cessionário;</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoMandadoSindical" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações Complementares - afastamento para exercício de mandado sindical</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjSindicato">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ do Sindicato</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoOnusRemuneracao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Ônus da Remuneração:
                                1 - Empregador;
                                2 - Sindicato;
                                3 - Diferença Salarial paga pelo Sindicato;</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeVinculo">
    <xs:annotation>
      <xs:documentation>Informações de Identificação do Trabalhador e do Vínculo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpfTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>CPF do trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nisTrab">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="matricula">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
