trunk/Esquemas/evtEspDesportivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtEspDesportivo">
          <xs:annotation>
            <xs:documentation>Evento Espetáculo Desportivo</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento">
                <xs:annotation>
                  <xs:documentation>Identificação de Evento de Espetáculo Desportivo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetificacao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de Retificação:
                          1 - Original
                          2 - Retificador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtApuracao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Data de apuração</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Identificação do ambiente:
                          1 - Produção</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="procEmi">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Processo de emissão do evento:
                          1- Emissão com aplicativo do empregador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indSegmento">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
                          1 - Normal</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verProc">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação da Entidade promotora do espetáculo desportivo</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEstabelecimento" maxOccurs="999">
                <xs:annotation>
                  <xs:documentation>Registro que identifica o estabelecimento realizador do espetáculo.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInscricao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInscricao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="boletim" maxOccurs="999">
                      <xs:annotation>
                        <xs:documentation>Boletim do Espetáculo Desportivo</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nrBoletim">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número do boletim relativo ao espetáculo desportivo</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="tpCompeticao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Competição:
                                1 - Oficial;
                                2 - Não Oficial;</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="categEvento">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Categoria do evento:
                                1 - Internacional;
                                2 - Interestadual;
                                3 - Estadual;
                                4 - Local;</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nomeCompeticao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome da competição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="cnpjMandante" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Cnpj do clube mandante</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="cnpjVisitante" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Cnpj do clube visitante</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nomeVisitante" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome do clube visitante.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="80"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="pracaDesportiva">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Praça desportiva do local do evento.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="80"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codMunicipio" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código do Município</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:integer">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="uf" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Sigla da UF</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dtRealizacao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data da efetiva realização</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="hrRealizacao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Hora inicial do evento desportivo</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="qtdePagantes">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Qtde de espectadores pagantes do evento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:nonNegativeInteger">
                                <xs:totalDigits value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="qtdeNaoPagantes">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Qtde de espectadores não pagantes do evento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:nonNegativeInteger">
                                <xs:totalDigits value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoIngressos" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>Informação dos ingressos confeccionados</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cnpjResponsavel" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>CNPJ do responsável</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="tpInscricao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrInscricao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de Inscrição</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdeIngressos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de ingressos colocados à venda</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                      <xs:totalDigits value="12"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="receitaIngressos" maxOccurs="999">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpIngresso">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Ingresso:
                                      1 - Arquibancada;
                                      2 - Geral;
                                      3 - Cadeiras;
                                      4 - Camarote;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="tpPreco">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Preço:
                                      1 - Normal;
                                      2 - Reduzido;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdeIngressosVenda">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de ingressos colocados à venda</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                      <xs:totalDigits value="12"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdeIngressosVendidos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de ingressos vendidos</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                      <xs:totalDigits value="12"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdeIngressosDevolvidos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de ingressos devolvidos</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                      <xs:totalDigits value="12"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="precoIndividual">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Preço individual do ingresso</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrTotalArrecadado">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor total arrecadado</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="outrasReceitas" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>Registro para informação das outras receitas auferidas em função do espetáculo identificado no registro superior.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpReceita">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de receita, conforme tabela:
                                      1 - Transmissão;
                                      2 - Propaganda;
                                      3 - Publicidade;
                                      4 - Sorteio;
                                      5 - Outros.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrReceita">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da receita auferida</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="despesas" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>Despesas efetuadas para realização do espetáculo</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpDespesa">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de despesa, conforme tabela:
                                      1 - Seguro;
                                      2 - Confecção dos ingressos;
                                      3 - Aluguel do campo;
                                      4 - Remuneração de árbitros e auxiliares e contribuição previdenciária incidente;
                                      5 - Remuneração de mão de obra utilizada para exame antidoping e contribuição previdenciária incidente;
                                      6 - Remuneração do pessoal que compõe o quadro móvel do evento (delegados, fiscais, bilheteiros, porteiros, maqueiros, seguranças, gandulas e outros) e contribuição previdenciária incidente.
                                      7 - Remuneração de Estrangeiros - árbitros e auxiliares e contribuição previdenciária incidente;
                                      8 - Remuneração de Estrangeiros - mão de obra utilizada para exame antidoping e contribuição previdenciária incidente;
                                      9 - Remuneração de Estrangeiros - pessoal que compõe o quadro móvel do evento (delegados, fiscais, bilheteiros, porteiros, maqueiros, seguranças, gandulas e outros) e contribuição previdenciária incidente.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrDespesa">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Despesa</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="detMaoObra" minOccurs="0" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Detalhamento da mão de obra</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cpfTrab">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CPF do trabalhador</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9]{11}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrRemuneracao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da remuneração recebida pelo trabalhador</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrDescCP">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da Contribuição Descontada</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contribPrevSocial">
                      <xs:annotation>
                        <xs:documentation>Registro de apuração das contribuições destinadas à Previdência Social</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="indTpContrib">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Indicativo do Tipo de Contribuição, conforme tabela 12</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vlrContribuicao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor da Contribuição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="receitaTotal">
                      <xs:annotation>
                        <xs:documentation>Registro que totaliza a receita auferida nos eventos realizados.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vlrReceitaTotal">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor da receita bruta</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vlrReceitaClubes">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor total da receita destinada aos clubes participantes.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vlrRetidoParcelamento">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor retido do clube para a amortização do parcelamento especial da Lei 8.641/93, quando for o caso.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
