trunk/Esquemas/evtFpRemuneracao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFpRemuneracao">
          <xs:annotation>
            <xs:documentation>Evento Remuneração</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveFopag">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideTrabalhador">
                <xs:annotation>
                  <xs:documentation>Registro que apresenta a identificação básica do trabalhador ao qual se refere o evento de remuneração.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpfTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>CPF do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nisTrab" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="qtdDepSF">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Qtde de dependentes para fins de Salário-Família</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:nonNegativeInteger">
                          <xs:totalDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="qtdDepIRRF">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Qtde de dependentes para fins de dedução do IRRF.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:nonNegativeInteger">
                          <xs:totalDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoMultiplosVinculos" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente em caso de trabalhador que possua outros vínculos/atividades nos quais já tenha ocorrido desconto de contribuição previdenciária.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="indMV">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Indicador de desconto da contribuição previdenciária do trabalhador, conforme tabela:
                                1 - Contribuição descontada pelo empregador declarante;
                                2 - Contribuição descontada por outra(s) empresa(s) sobre valor inferior ao limite máximo do salário de contribuição;
                                3 - Contribuição sobre o limite máximo de salário de contribuição já descontada em outra(s) empresa(s);</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="remunOutrasEmpresas" type="TRemunOutrasEmpresas" minOccurs="0" maxOccurs="10">
                            <xs:annotation>
                              <xs:documentation>Registro que complementa as informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s), detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição.   As informações prestadas são necessárias para a conferência da contribuição descontada do segurado. </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoSimplesAtivConcomitante" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>O registro detalha a situação do trabalhador em relação a substituição ou não da contribuição patronal incidente sobre sua remuneração.   O preenchimento do registro deve ser efetuado APENAS no caso das empresas enquadradas no regime de tributação SIMPLES, com tributação previdenciária substituída e não substituída ({classTrib} do evento de informações do empregador = [03]).  Para os demais empregadores o registro não deve ser informado.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="indSimples">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Indicador de Contribuição Substituída:
                                1 - Contribuição Substituída Integralmente;
                                2 - Contribuição não substituída;
                                3 - Contribuição não substituída concomitante com contribuição substituída.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoComplementares" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente quando o evento de remuneração referir-se a trabalhador cuja categoria não está sujeita ao evento de admissão ou ao evento de início de "trabalhador sem vínculo", ou seja o evento apresentar apenas remunerações para as categorias [203, 701, 702, 703, 711, 712, 713, 751].   As informações complementares são necessárias para correta identificação do trabalhador (Nome, data de nascimento, etc).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nomeTrab">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Nome do Trabalhador</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="60"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dtNascto">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data de Nascimento</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codCBO">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:integer">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="natAtividade" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Natureza da atividade, conforme tabela abaixo:
                                1 - Trabalho Urbano
                                2 - Trabalho Rural</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoTrabAvulso" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente quando a empresa declarante contrata trabalhador avulso não portuário por intermédio do Sindicato.   O registro apresenta a identificação (CNPJ) do Sindicato.   As informações relativas a remuneração do trabalhador avulso identificado no registro superior serão prestadas no evento, uma vez que, neste caso, a responsabilidade pelo recolhimento das contribuições é da empresa contratante.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjSindicato">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ do Sindicato</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="fpasSindicato">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>FPAS do Sindicato</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:integer">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codTerceiros">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código de convênios com terceiros, conforme tabela 4.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:integer">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="procJudTrabalhador" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Informações sobre a existência de processos judiciais do trabalhador com decisão favorável quanto à não incidência de contribuição previdenciária e/ou Imposto de Renda</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpTributo">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tributo/Contribuição abrangida pela decisão:
                                1 - IRRF
                                2 - Contribuição Previdenciária do Trabalhador</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrProcJud">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoPeriodoApuracao" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Registro que identifica o Estabelecimento/Lotação no qual o trabalhador possui remuneração no período de apuração.   O estabelecimento identificado no registro pode ser: o número do CNPJ do estabelecimento da própria empresa (matriz/filial), o número da obra (própria) no CNO, ou o número do CAEPF (no caso de pessoa física obrigada a inscrição no cadastro de atividades específicas da pessoa física).  No caso específico do trabalhador doméstico, o estabelecimento deve ser o próprio CPF do empregador.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ideEstabLotacao" maxOccurs="50">
                      <xs:annotation>
                        <xs:documentation>Identificação do estabelecimento e lotação</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número de Inscrição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="codLotacao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código da Lotação</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="remunPeriodoApuracao" maxOccurs="50">
                            <xs:annotation>
                              <xs:documentation>Registro onde são prestadas as informações relativas a remuneração do trabalhador na lotação e estabelecimento identificados no registro superior.   O preenchimento ou não de alguns campos do registro é definido de acordo com a categoria do trabalhador (ex: matrícula é exigida para "empregados").</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="matricula" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:whiteSpace value="preserve"/>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codCateg">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código da Categoria</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="bcCP">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de Cálculo da Contribuição Previdenciária</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="bcIRRF">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de Cálculo do Imposto de Renda Retido na Fonte</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="bcFGTS">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de Cálculo do FGTS</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="descCP">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor descontado do segurado.
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrProventos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Proventos</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrDescontos">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor dos Descontos</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrLiquido">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor Líquido</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="itensRemun" type="TItemRemuneracao" minOccurs="0" maxOccurs="200">
                                  <xs:annotation>
                                    <xs:documentation>Registro que relaciona as rubricas que compõe a remuneração do trabalhador.   Não deve ser preenchido quando a remuneração referir-se a:
1) Trabalhador Avulso Não Portuário (em arquivo gerado pelo contratante);
2) Segurado empregado para o qual já houve a transmissão do evento de "desligamento" no período de referência do arquivo;</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="infoAgenteNocivo" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Registro preenchido exclusivamente em relação a remuneração de trabalhador enquadrado em uma das categorias relativas à EMPREGADO ou na categoria de Cooperado filiado à cooperativa de produção [741], permitindo o detalhamento do grau de exposição do trabalhador aos agentes nocivos que ensejam a cobrança da contribuição adicional para financiamento dos benefícios de aposentadoria especial.   No caso de cooperado filiado à cooperativa de trabalho [731,734], a informação deve ser prestada quando a atividade exercida no tomador, ou no local por ele indicado, permita a concessão de aposentadoria especial.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="grauExp">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Grau de exposição a agentes nocivos, conforme tabela 2</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoRescisao" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Registro que apresenta as informações relativas ao evento de desligamento do trabalhador empregado, apresentando o número do recibo do evento no qual as informações das verbas rescisórias foram declaradas.  Também deve ser informado no caso de término de contrato de "Diretor Não Empregado com FGTS".</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="nrReciboDeslig">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número do Recibo do Evento de Desligamento</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="pensaoAlimenticia" minOccurs="0" maxOccurs="99">
                                  <xs:annotation>
                                    <xs:documentation>Informações sobre beneficiários de pensão alimentícia</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cpfBeneficiario" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CPF do beneficiário</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9]{11}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtNasctoBeneficiario">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Data de Nascimento do Beneficiário</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:date">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nomeBeneficiario">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Nome/Razão do Beneficiário</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="80"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrPensao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor da pensão alimentícia</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoPeriodoAnterior" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Remuneração em Períodos Anteriores (Acordo/Dissídio/Convenção)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ideAcordoDissidio" maxOccurs="50">
                      <xs:annotation>
                        <xs:documentation>Identificação do Acordo/Convenção/Dissídio</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtAcordo">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data do Acordo, Convenção ou Dissídio</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="tpAcordo">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Acordo:
                                A - Acordo Coletvo;
                                B - Comissão de conciliação prévia - CCP;
                                C - Convenção;
                                D - Dissídio</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="idePeriodo" maxOccurs="50">
                            <xs:annotation>
                              <xs:documentation>Identificação do período ao qual se referem as diferenças de remuneração.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="perReferencia">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Período de Referência</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="6"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ideEstabLotacao" maxOccurs="50">
                                  <xs:annotation>
                                    <xs:documentation>O registro identifica o estabelecimento e lotação ao qual se referem as diferenças de remuneração do mês identificado no registro superior.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpInscricao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrInscricao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número de Inscrição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="codLotacao">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código da Lotação</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="30"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="remunPeriodoAnterior" maxOccurs="50">
                                        <xs:annotation>
                                          <xs:documentation>Registro que totaliza a remuneração relativa ao dissídio, convenção, ou acordo coletivo de cada segurado empregado na lotação, estabelecimento e período identificados nos registros superiores.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="matricula">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:string">
                                                  <xs:whiteSpace value="preserve"/>
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="30"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="codCateg">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Código da Categoria</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:integer">
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="bcCP">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Contribuição Previdenciária</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="bcIRRF">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo do Imposto de Renda Retido na Fonte</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="bcFGTS">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo do FGTS</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="descCP">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor descontado do segurado.
                                                  </xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrProventos">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor dos Proventos</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrDescontos">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor dos Descontos</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrLiquido">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor Líquido</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="itensRemun" type="TItemRemuneracao" maxOccurs="200">
                                              <xs:annotation>
                                                <xs:documentation>Registro que relaciona as rubricas que compõe a remuneração do trabalhador.</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="infoAgenteNocivo">
                                              <xs:annotation>
                                                <xs:documentation>Registro preenchido exclusivamente em relação a remuneração de trabalhador enquadrado em uma das categorias relativas à EMPREGADO, permitindo o detalhamento do grau de exposição do trabalhador aos agentes nocivos que ensejam a cobrança da contribuição adicional para financiamento dos benefícios de aposentadoria especial.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="grauExp">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Grau de exposição a agentes nocivos, conforme tabela 2</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:byte">
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="pensaoAlimenticia" minOccurs="0" maxOccurs="99">
                                              <xs:annotation>
                                                <xs:documentation>Informações sobre beneficiários de pensão alimentícia</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="cpfBeneficiario" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>CPF do beneficiário</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="[0-9]{11}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="dtNasctoBeneficiario">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Data de Nascimento do Beneficiário</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:date">
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="nomeBeneficiario">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Nome/Razão do Beneficiário</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="2"/>
                                                        <xs:maxLength value="80"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vlrPensao">
                                                    <xs:simpleType>
                                                      <xs:annotation>
                                                        <xs:documentation>Valor da pensão alimentícia</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:restriction base="xs:decimal">
                                                        <xs:totalDigits value="14"/>
                                                        <xs:fractionDigits value="2"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="totRemuneracao" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation>Apresenta a totalização das remunerações do trabalhador, tanto do período de apuração quanto de períodos anteriores (se houver).   A totalização das informações é efetuada por período, matrícula e categoria.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="perReferencia">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Período de Referência</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4"/>
                          <xs:maxLength value="6"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="matricula" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Matricula do trabalhador na Empresa</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:whiteSpace value="preserve"/>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="codCateg">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código da Categoria</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:integer">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="bcCP">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Base de Cálculo da Contribuição Previdenciária</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="14"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="bcFGTS">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Base de Cálculo do FGTS</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="14"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="bcIRRF">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Base de Cálculo do Imposto de Renda Retido na Fonte</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="14"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="descCP">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Valor descontado do segurado.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="14"/>
                          <xs:fractionDigits value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveFopag">
    <xs:annotation>
      <xs:documentation>Identificação de Evento de Folha de Pagamentos</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de período de apuração:
            1 - Mensal;
            2 - Anual (Folha do 13o Salário).</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="perApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemunOutrasEmpresas">
    <xs:annotation>
      <xs:documentation>Registro que complementa as informações relativas ao trabalhador que possui vínculo empregatício com outra(s) empresa(s) e/ou que exerce outras atividades como contribuinte individual, detalhando as empresas que efetuaram (ou efetuarão) desconto da contribuição, ou ainda valores recolhidos pelo próprio trabalhador como contribuinte individual.   As informações prestadas são necessárias para a conferência da contribuição descontada do segurado. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrRemuneracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor da remuneração recebida pelo trabalhador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TItemRemuneracao">
    <xs:annotation>
      <xs:documentation>Informações dos Itens (rubricas) da remuneração</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codRubrica">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Rubrica</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="qtdRubrica" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="6"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrUnitario" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor Unitário </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrRubrica">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor total da rubrica</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
