trunk/Esquemas/evtFpServPrestadosCoop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFpServPrestadosCoop">
          <xs:annotation>
            <xs:documentation>Informações do Evento Serviços Prestados pela Coop. de Trabalho</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveFopag">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoServPrestados">
                <xs:annotation>
                  <xs:documentation>Serviços prestados à terceiros pela Cooperativa de Trabalho</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ideEstabPrestador" maxOccurs="999">
                      <xs:annotation>
                        <xs:documentation>Registro que identifica o estabelecimento "prestador" de serviços.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInscricao">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número de Inscrição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ideContratante" maxOccurs="999">
                            <xs:annotation>
                              <xs:documentation>O registro apresenta a totalização dos serviços prestados por cooperados por intermédio de cooperativa de trabalho, por CONTRATANTE de serviços, e o detalhamento das informações é efetuado, por nota fiscal, nos registros vinculados.  Os serviços prestados pela Cooperativa diretamente à contratante Pessoa Física somente devem ser incluídos no evento caso tenham sido prestados em obra de construção civil.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpInscContratante">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Inscrição do contratante</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrInscContratante">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de Inscrição do Contratante</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBruto">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor bruto</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrBaseCoop">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Base de cálculo da contribuição incidente sobre o valor pago à cooperativa de trabalho</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nfsEmitidas" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Registro que detalha as notas fiscais emitidas pela Cooperativa de Trabalho, relativas ao contratante identificado no registro superior.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="serie">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Série da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="5"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="numDocto">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="10"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtEmissaoNF">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Data de Emissão da Nota Fiscal/Fatura</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:date">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="indObra">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Indicativo de Prestação de Serviços em Obra de Construção Civil;
                                            0 - Não é obra de construção civil ou não está sujeita a matrícula;
                                            1 - Obra de Construção Civil - Empreitada Total;
                                            2 - Obra de Construção Civil - Empreitada Parcial;
                                            3 - Obra de Construção Civil - Subempreitada;</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrCno">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNO da Obra</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9]{12}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBruto">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor bruto</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrMatEquip">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos Materiais/Equipamentos</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrServicos">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor dos Serviços</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrDeducoes">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Valor das deduções da base de cálculo.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBaseCoop">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Base de cálculo da contribuição incidente sobre o valor pago à cooperativa de trabalho</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="14"/>
                                            <xs:fractionDigits value="2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="servCoopCondEspeciais" type="TServCoopCondEspeciais" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Caso tenha ocorrido, em relação aos serviços contidos na nota fiscal/fatura identificada no registro superior, a prestação de serviços por cooperados em condições especiais, cuja atividade permita concessão de aposentadoria especial, devem ser detalhados neste registro os respectivos valores dos serviços.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="proprietarioCNO" type="TProprietarioCNO" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>Identificação do proprietário do CNO em caso de serviços subempreitados.  Somente pode ser preenchido quando {indObra} for igual a [3].</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveFopag">
    <xs:annotation>
      <xs:documentation>Identificação de Evento de Folha de Pagamentos</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de período de apuração:
            1 - Mensal;
            2 - Anual (Folha do 13o Salário).</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="perApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TServCoopCondEspeciais">
    <xs:annotation>
      <xs:documentation>Informações de serviços prestados por cooperados em condições especiais, sujeitos ao adicional de contribuição</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrServicos15">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (15 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos20">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (20 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrServicos25">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor dos Serviços sujeitos a retenção/contribuição adicional  (25 anos)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TProprietarioCNO">
    <xs:annotation>
      <xs:documentation>Identificação do proprietário/responsável do CNO</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscProprietario">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição do proprietário do CNO</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
