trunk/Esquemas/evtPagtosEfetuados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtPagtosDiversos">
          <xs:annotation>
            <xs:documentation>Evento Pagtos Efetuados</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveFopag">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideBeneficiario">
                <xs:annotation>
                  <xs:documentation>Identificação do Beneficiário e do Rendimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codRendimento">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código do Rendimento, conforme tabela da RFB</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:integer">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpInscBeneficiario">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Beneficiário:
                          1 - Pessoa Jurídica
                          2 - Pessoa Física</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInscBeneficiario" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição do Beneficiário</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dadosNaoResidente" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações complementares de beneficiário não residente ou domiciliado no exterior</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dadosPessoais" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Dados pessoais de beneficiário não residente ou domiciliado no exterior.  O preenchimento do registro é obrigatório em caso de pagamento efetuado à beneficiário Pessoa Jurídica.   No caso de Pessoa Física, o preenchimento é obrigatório se o beneficiário não consta no RET do declarante.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nomeBeneficiario">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nome/Razão do Beneficiário</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="80"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dadosEndereco" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Endereço de beneficiário não residente ou domiciliado no exterior.     O preenchimento do registro é obrigatório em caso de pagamento efetuado à beneficiário Pessoa Jurídica.   No caso de Pessoa Física, o preenchimento é obrigatório se o beneficiário não consta no RET do declarante.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="paisResidencia">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do País</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="descLogradouro" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Descrição do logradouro</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="80"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nrLogradouro" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número do logradouro.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="10"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="complemento" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Complemento do logradouro.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="bairro" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nome do bairro/distrito.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nomeCidade" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nome da Cidade</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codPostal" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código de Endereçamento Postal</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dadosFiscais">
                            <xs:annotation>
                              <xs:documentation>Informações fiscais de beneficiário não residente ou domiciliado no exterior</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indNIF">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo do preenchimento do Número de Identificação Fiscal:
                                      1 - Beneficiário com NIF;
                                      2 - Beneficiário dispensado do NIF;
                                      3 - País não exige NIF</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nifBeneficiario" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de Identificação Fiscal - NIF</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="20"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="relFontePagadora" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Relação fonte pagadora pessoa jurídica e beneficiário pessoa jurídica, conforme Anexo II da IN RFB 1.297/2012</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dadosMolestiaGrave" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Informações de beneficiário portador de moléstia grave.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dtLaudo">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Data atribuída pelo laudo da moléstia grave</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:date">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoPagto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="pagtoResidente" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Pagamento à pessoa física residente ou domiciliada no Brasil</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="pagtoBPF" minOccurs="0" maxOccurs="99">
                              <xs:annotation>
                                <xs:documentation>Beneficiário Pessoa Física - Residente no Brasil</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="dtPagto">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data do Pagamento</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indSuspExigibilidade">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Indicativo Suspensão da Exigibilidade:
                                        S - Sim
                                        N - Não</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="S"/>
                                        <xs:enumeration value="N"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indDecTerceiro">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Indicativo de 13o Salário:
                                        S - Sim
                                        N - Não</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="S"/>
                                        <xs:enumeration value="N"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrRendTributavel">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor do rendimento tributável</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrIRRF">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor do Imposto de Renda Retido na Fonte</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="detDeducao" minOccurs="0" maxOccurs="4">
                                    <xs:annotation>
                                      <xs:documentation>Detalhamento das Deduções</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="indTpDeducao">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Indicativo do Tipo de Dedução:
                                              1 - Previdência Oficial;
                                              2 - Previdência Privada;
                                              3 - Pensão Alimentícia;
                                              4 - Dependentes;</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrDeducao">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor da dedução da base de cálculo.</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="rendIsento" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Rendimentos Isentos/Não Tributáveis</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tpIsencao">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Tipo de Isenção:
                                              01 - Parcela Isenta 65 anos;
                                              02 - Diária e Ajuda de Custo;
                                              03 - Indenização e rescisão de contrato, inclusive a título de PDV;
                                              04 - Abono pecuniário;
                                              05 - Outros (especificar);
                                              06 - Lucros e dividendos pagos a partir de 1996;
                                              07 - Valores pagos à titular ou sócio de microempresa ou empresa de pequeno porte, exceto pró-labore e alugueis;
                                              08 - Pensão, aposentadoria ou reforma por moléstia grave ou acidente em serviço;
                                              09 - Benefícios indiretos e/ou reembolso de despesas recebidas por voluntário da copa do mundo ou da copa das confederações;
                                              10 - Bolsa de estudo recebida por médico-residente;
                                              11 - Complementação de aposentadoria, correspondente às contribuições efetuadas no período de 01/01/1989 a 31/12/1995.</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrIsento">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor da Parcela Isenta</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="detOutros" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Detalhamento de outros rendimentos isentos</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="descRendimento">
                                                <xs:simpleType>
                                                  <xs:annotation>
                                                    <xs:documentation>Descrição do rendimento isento/Não tributável</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="80"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="detCompetencia" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Registro preenchido exclusivamente em caso de pagamento de remuneração à trabalhadores empregados, avulsos ou contribuintes individuais, apresentando o detalhamento da(s) competência(s) à(s) qual(is) se refere o pagamento.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="indPerReferencia">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Indicativo de período de referência:
                                              1 - Folha de Pagamento Mensal
                                              2 - Folha do Décimo Terceiro Salário</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="perRefPagto">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Período de Referência do Pagamento</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="4"/>
                                              <xs:maxLength value="6"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrRendTributavel">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor do rendimento tributável</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="compJudicial" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informações relativa a Compensação Judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="vlrCompAnoCalendario" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Compensação Judicial do ano calendário</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vlrcompAnosAnteriores" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Compensação Judicial de anos anteriores</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="depJudicial" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informação relativa ao depósito judicial, prestada exclusivamente em caso de suspensão de exigibilidade do crédito tributário.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="vlrDepJudicial" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Valor do Depósito Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:decimal">
                                              <xs:totalDigits value="14"/>
                                              <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="infoRRA" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Informações Complementares - Rendimentos Recebidos Acumuladamente</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tpProcRRA" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Tipo de Processo:
                                              1 - Administrativo
                                              2 - Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nrProcRRA">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Número do Processo</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="20"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="natRRA" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Natureza do rendimento</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="qtdMesesRRA">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Quantidade de meses</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:positiveInteger">
                                              <xs:totalDigits value="4"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="despProcJudicial" type="TDespProcJudicial" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Detalhamento das despesas de processo judicial</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="infoProcJudicial" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Informações Complementares - Demais rendimentos decorrentes de Decisão Judicial</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="nrProcJud">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Identificação do Número do Processo Judicial</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="20"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="indOrigemRecursos">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation>Indicativo da origem dos recursos:
                                              1 - Recursos do próprio declarante
                                              2 - Recursos de terceiros (Declarante é a Instituição Financeira responsável apenas pelo repasse dos valores);</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:byte">
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="despProcJudicial" type="TDespProcJudicial" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Detalhamento das despesas de processo judicial</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="origemRecursos" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Registro preenchido exclusivamente pela instituição financeira que efetua pagamentos de valores relativos a créditos judiciais, identificando a empresa de origem dos recursos (CNPJ).</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="cnpjOrigemRecursos">
                                                <xs:simpleType>
                                                  <xs:annotation>
                                                    <xs:documentation>CNPJ da empresa de origem dos recursos</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{14}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="pagtoBPJ" minOccurs="0" maxOccurs="99">
                              <xs:annotation>
                                <xs:documentation>Pagamento à Beneficiário Pessoa Jurídica - Domiciliado no Brasil</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="dtPagto">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Data do Pagamento</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrRendTributavel">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor do rendimento tributável</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrIRRF">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor do Imposto de Renda Retido na Fonte</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="pagtoNaoResidente" minOccurs="0" maxOccurs="31">
                        <xs:annotation>
                          <xs:documentation>Pagamento a não residente ou domiciliado no exterior</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dtPagto">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data do Pagamento</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="tpRendimento">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Tipo de Rendimento, conforme tabela de informações sobre os rendimentos constante da IN que dispõe sobre IRRF</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="formaTributacao">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Forma de tributação, conforme tabela de informações sobre os rendimentos constante da IN que dispõe sobre IRRF</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="vlrPago">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Valor Pago</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:decimal">
                                  <xs:totalDigits value="14"/>
                                  <xs:fractionDigits value="2"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="vlrIRRF">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Valor do Imposto de Renda Retido na Fonte</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:decimal">
                                  <xs:totalDigits value="14"/>
                                  <xs:fractionDigits value="2"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoPlanoSaudeColetivo" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Informações de plano privado de assistência à saúde coletivo empresarial</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="detOperadora" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Detalhamento dos valores pagos à Operadora de Plano de Saúde</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjOperadora">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>CNPJ de Operadora do Plano de Saúde</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vlrPagoTitular">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor pago pelo Titular</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="depPlano" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Dependente do plano privado de assistência Saúde</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cpfDep">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[0-9]{11}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dtNasctoDep">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Data de nascimento do dependente</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:date">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nomeDep">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Nome do Dependente</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="relDependencia">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Relação de Dependência:
                                      03 - Cônjuge/Companheiro(a);
                                      04 - Filho(a);
                                      06 - Enteado(a);
                                      08 - Pai/Mãe;
                                      10 - Agregado/Outros;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrPagoDep">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor Pago relativo ao dependente</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveFopag">
    <xs:annotation>
      <xs:documentation>Identificação de Evento de Folha de Pagamentos</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de período de apuração:
            1 - Mensal;
            2 - Anual (Folha do 13o Salário).</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="perApuracao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDespProcJudicial">
    <xs:annotation>
      <xs:documentation>Detalhamento das despesas relativas ao Processo Judicial</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrDespCustas">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor da despesa com custas judiciais</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vlrDespAdvogados">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Valor da despesa com advogado(s)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ideAdvogado" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Identificação do Advogado</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tpInscAdvogado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Tipo de Inscrição do Advogado
                  1 - Pessoa Jurídica
                  2 - Pessoa Física</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrInscAdvogado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número de Inscrição do Advogado</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="vlrAdvogado">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Valor da despesa com o advogado</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="14"/>
                  <xs:fractionDigits value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
