trunk/Esquemas/evtTSVAltContratual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTSVAltContratual">
          <xs:annotation>
            <xs:documentation>Evento Trabalhador Sem Vínculo - Alteração Contratual</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoTSVAlteracao">
                <xs:annotation>
                  <xs:documentation>Trabalhador Sem Vínculo - Alteração Contratual</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="cpfTrab">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>CPF do trabalhador</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{11}"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="nisTrab">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{11}"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="dtAlteracao">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>Data da Alteração</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:date">
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="contribIndividual" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Informações do Contribuinte Individual</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="codCateg">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código da Categoria</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="codCargo">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código do Cargo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1"/>
                                  <xs:maxLength value="30"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="codFuncao">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código da Função</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1"/>
                                  <xs:maxLength value="30"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="codCBO">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="remuneracao" type="TRemun">
                              <xs:annotation>
                                <xs:documentation>Informações da remuneração e periodicidade de pagamento</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="servPubIndConselho" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Servidor Público indicado para Conselho ou Órgão Representativo;</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="codCargo">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código do Cargo</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1"/>
                                  <xs:maxLength value="30"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="codFuncao">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Código da Função</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1"/>
                                  <xs:maxLength value="30"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="codCBO">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Classificação Brasileira de Ocupação</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="remuneracao" type="TRemun">
                              <xs:annotation>
                                <xs:documentation>Remuneração e Periodicidade de Pagamento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="estagiario" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>informações do estagiário</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="natEstagio">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Natureza do Estágio:
                                  O - Obrigatório
                                  N - Não Obrigatório</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="nivEstagio">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Nível:
                                  1 - Fundamental
                                  2 - Médio
                                  3 - Formação Profissional
                                  4 - Superior</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:byte">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="areaAtuacao" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Área de atuação do estagiário</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:whiteSpace value="preserve"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="nrApolice" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Nr. Apólice de Seguro</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:whiteSpace value="preserve"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="vlrBolsa" minOccurs="0">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Valor da Bolsa Estágio</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:decimal">
                                  <xs:totalDigits value="14"/>
                                  <xs:fractionDigits value="2"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="dtPrevistaTermino">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Data prevista para o término do estágio</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:date">
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="instEnsino">
                              <xs:annotation>
                                <xs:documentation>Instituição de Ensino</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="cnpjInstEnsino">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Cnpj da Instituição de Ensino</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{14}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nomeRazao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Nome/Razão Social</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="80"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="descLogradouro">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Descrição do logradouro</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="80"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nrLogradouro" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Número do logradouro.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="10"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="bairro" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Nome do bairro/distrito.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="60"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="cep">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Código de Endereçamento Postal</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:integer">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="codMunicipio">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Código do Município</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:integer">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="uf">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Sigla da UF</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ageIntegracao">
                              <xs:annotation>
                                <xs:documentation>Agente de Integração</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="cnpjAgenteIntegracao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>CNPJ do agente de integração</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{14}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nomeRazao">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Nome/Razão Social</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="80"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="descLogradouro">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Descrição do logradouro</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="80"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nrLogradouro" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Número do logradouro.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="10"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="bairro" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Nome do bairro/distrito.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="60"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="cep">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Código de Endereçamento Postal</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:integer">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="codMunicipio">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Código do Município</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:integer">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="uf">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Sigla da UF</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="supervisorEstagio" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Supervisor do Estágio</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="cpfSupervisor">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>CPF do responsável pela supervisão do estagiário</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{11}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nomeSupervisor">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Nome do Supervisor do Estágio</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="60"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação de Evento Trabalhista</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetificacao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRemun">
    <xs:annotation>
      <xs:documentation>Remuneração e periodicidade de pagamento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vlrSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Salário fixo do trabalhador, correspondente à parte fixa da remuneração.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="14"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="unidSalFixo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Unidade de pagamento da parte fixa da remuneração, conforme tabela abaixo:
            1 - Por Hora
            2 - Por Dia
            3 - Por Semana
            4 - Por Quinzena
            5 - Por Mês
            6 - Por Tarefa</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descSalVariavel" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do salário variável e como este é calculado.  ex: Comissões pagas no percentual de 10% sobre as vendas.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
