trunk/Esquemas/evtTabHorContratual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema" targetNamespace="http://www.esocial.gov.br/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTabHorContratual">
          <xs:annotation>
            <xs:documentation>Evento Tabela de Horários/Turnos de Trabalho</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeCadastro">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoHorContratual">
                <xs:annotation>
                  <xs:documentation>Registro de identificação da operação (inclusão, alteração ou exclusão) e das informações do horário contratual.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideHorContratual" type="TIdeHorContratual">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações de identificação do horário contratual, apresentando o código e período de validade do registro cujas informações estão sendo incluídas.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosHorContratual" type="TDadosHorContratual">
                              <xs:annotation>
                                <xs:documentation>Detalhamento das informações do horário contratual que está sendo incluído.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Alteração de informações já existentes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideHorContratual" type="TIdeHorContratual">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações de identificação do horário contratual, apresentando código e período de validade do registro cujas informações serão alteradas pelos dados constantes neste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="dadosHorContratual" type="TDadosHorContratual">
                              <xs:annotation>
                                <xs:documentation>Informações do horário contratual</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPeriodoValidade" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Exclusão de informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ideHorContratual" type="TIdeHorContratual">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações que identifica o horário contratual que será excluído.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeCadastro">
    <xs:annotation>
      <xs:documentation>Identificação de evento de cadastro/tabelas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSegmento">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicador do segmento da e-Social ao qual se refere o arquivo, conforme abaixo:
            1 - Normal</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInscricao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeHorContratual">
    <xs:annotation>
      <xs:documentation>Informações de identificação do Horário Contratual</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codHorContratual">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Horário Contratual</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDadosHorContratual">
    <xs:annotation>
      <xs:documentation>Informações do Horário Contratual</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="horaEntrada">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Horário de entrada do trabalhador ou inicial da jornada</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="horaSaida">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Horário de saída do trabalhador ou inicial da jornada</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="durJornada">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Duração da jornada em minutos</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpJornada">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo da Jornada:
            00 - Normal;
            01 - Escala 12x36;
            02 - Escala 24x72;
            03 - Turno de Revezamento;
            99 - Outros</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descTpJornada" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Descrição do tipo de jornada.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpIntervalo">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Intervalo da Jornada:
            0 - Sem Intervalo;
            1 - Intervalo em Horário Fixo;
            2 - Intervalo em Horário Variável;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="durIntervalo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Duração do Intervalo da jornada, em minutos.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="horarioIntervalo" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>Registro que detalha os horários de início e término do intervalo para a jornada indicada no registro superior.   O preenchimento do registro é efetuado apenas se o tipo de intervalo definido no registro superior for igual a [1] (intervalo em horário fixo).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="inicioIntervalo">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Horário do início do intervalo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="terminoIntervalo">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Horário de término do intervalo</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="varHorario" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Variações possíveis na hora de entrada/saída do trabalhador</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deltaEntrada">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Variação em minutos possível na hora de entrada do trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="deltaSaida">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Variação em minutos possível na hora de saída do trabalhador</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPeriodoValidade">
    <xs:sequence>
      <xs:element name="iniValidade">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (MM/AAAA)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValidade" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
